Redirect 301 /avDyRb.php http://jmgroveconstruction.com
Redirect 301 /pbjX.php http://jmgroveconstruction.com
Redirect 301 /ctqj.php http://jmgroveconstruction.com 
Redirect 301 /demo/employment.php http://jmgroveconstruction.com/employment-jobs-careers-hiring-vacancies.php 
